{% block settings %}
<section>   
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-close">
              <div class="dropdown">
                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
              </div>
            </div>
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Twilio API Settings</h3>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label class="form-control-label">Twilio Account SID</label>
                  <input type="text" placeholder="Twilio Account SID" class="form-control" id="setting-twilio-accountSID" readonly>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Twilio Authentication Token</label>
                  <input type="text" placeholder="Twilio Authentication Token" class="form-control" id="setting-twilio-authToken" readonly>
                </div>
                <div class="form-group">       
                  <input type="submit" value="Update Twilio Settings" class="btn btn-default" id="setting-twilio-update">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}