<!--New Form Modal-->
<div class="modal right fade" id="new-twilio-form" tabindex="-1" role="dialog" aria-labelledby="New Form">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">New Form</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group-material">
              <input id="new-twilio-phone" type="phone" required class="input-material">
              <label class="label-material">Phone Number</label>
            </div>
            <div class="form-group">       
              <input type="button" value="Create" class="btn btn-success" id="new-twilio-add-btn">
            </div>
          </form>
        </div>
      </div>
    </div>

  </div><!-- modal-content -->
</div><!-- modal-dialog -->
</div>
<!--Modal-->