{% block settings %}
<section>   
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-close">
              <div class="dropdown">
                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a id="setting-info-edit" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
              </div>
            </div>
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">System Settings</h3>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">       
                  <label class="form-control-label">Auto Message</label>
                  <textarea type="text" placeholder="textarea" class="form-control" rows="3" id="setting-info-message" readonly="true">{{settings.info.autoMessage}}</textarea>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Negative Reply Indicator</label>
                  <input id="setting-info-indicator" type="text" placeholder="Negative Reply Indicator" value="{{settings.info.replyIndicator}}" class="form-control" readonly="true">
                </div>
                <div class="item d-flex">
                  <input type="checkbox" id="setting-info-scheduler" name="setting-info-scheduler" class="checkbox-template" readonly="true" value="{{settings.info.enableScheduler}}">
                  <label for="setting-info-scheduler">Enable Scheduler</label>
                </div>
                <div class="form-group">       
                  <input type="button" value="Update System Changes" class="btn btn-primary" id="setting-info-update" disabled="disabled">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}