<!DOCTYPE html>
<html lang="en" >

<head>
  	<meta charset="UTF-8">
  	<title>WordPress Admin Dashboard Redesign</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard/style.css') }}">
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</head>

<body>

  <nav>
	<div class="logo">
		<a href="#">
			<span class="fa fa-cloud"></span>
			<span class="title">Service Dashboard</span>
		</a>
	</div>
	<ul class="main-nav">
		<li>
			<a href="#"><span class="fa fa-coffee"></span>Posts</a>
		</li>
		<li>
			<a href="#"><span class="fa fa-plus"></span>Media</a>
		</li>
		<li>
			<a href="#"><span class="fa fa-file"></span>Pages</a>
		</li>
		<li>
			<a href="#"><span class="fa fa-comments"></span>Comments</a>
		</li>
		<li>
			<a href="#"><span class="fa fa-users"></span>Users</a>
		</li>
		<li>
			<a href="#"><span class="fa fa-tasks"></span>Settings</a>
		</li>
	</ul>
</nav>
<div class="dashboard">
	<div class="container clearfix">
		<h1>Dashboard</h1>
		<div class="main-section">
			<div class="card-info card">
				<div class="card-title">
					<h2>At a Glance</h2>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, cupiditate.</p>
					<ul>
						<li>
							<div class="plugin-name">
								Black Studio TinyMCE Widget
							</div>
							<div class="plugin-details">
								Adds a new "Visual Editor" widget type based on the native WordPress TinyMCE editor.
							</div>
						</li>
						<li>
							<div class="plugin-name">
								Contact Form 7
							</div>
							<div class="plugin-details">
								Just another contact form plugin. Simple but flexible.
							</div>
						</li>
						<li>
							<div class="plugin-name">
								Page Builder by SiteOrigin
							</div>
							<div class="plugin-details">
								A drag and drop, responsive page builder that simplifies building your website.
							</div>
						</li>
						<li>
							<div class="plugin-name">
								Simple Custom CSS
							</div>
							<div class="plugin-details">
								The simple, solid way to add custom CSS to your WordPress website. Simple Custom CSS allows you to add your own styles or override the default CSS of a plugin or theme.
							</div>
						</li>
					</ul>
				</div>	
			</div>
			<div class="card-activity card">
				<div class="card-title">
					<h2>Activity</h2>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptatibus perspiciatis mollitia qui totam fuga, hic nostrum officia voluptas corrupti ab doloremque facilis ut quis quae dolores reiciendis deleniti! Qui!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolore fugiat, labore quis itaque facilis. Dicta, eos nostrum, nobis debitis, ab laborum quibusdam perferendis ratione illo eveniet vel magnam consectetur.</p>
				<a href="#" class="btn">See more...</a>
				</div>
			</div>
		</div>
		</div>
		<div class="card-contact">
				<form action="">
					<div class="form-inner">
						<h2>contact <span>us</span></h2>
						<ul class="introduction clearfix">
							<li>
								<input type="radio" id="hi" name="hi" />
								<label for="hi">say hi</label>
							</li>
							<li>
								<input type="radio" id="quote" name="quote" />
								<label for="quote">get a quote</label>
							</li>
						</ul>
						<ul class="signin">
							<li>
								<label for="name">Your <span>name</span> </label>
								<input type="text" id="name" name="name"/></li>
							<li>
								<label for="email">Your <span>Email</span></label>
								<input type="text" id="email" name="email" /></li>
							<li>
								<label for="message">Your <span>Message</span></label>
								<textarea name="mesage" id="message" rows="6"></textarea>
						</ul>
					</div>
					<input type="submit" value="send message" />
				</form>
			</div>
	</div>
</div>

  

</body>

</html>
