{% extends "/base.html" %}

{% block header %}
  {{ super() }}
  <script src="{{ url_for('static',filename='js/operator/setting.js') }}"></script>
  <script src="{{ url_for('static',filename='js/operator/operator.js') }}"></script>
{% endblock %}

{% block main %}
<div class="content-inner">
  <!-- Page Header-->
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Operator</h2>
    </div>
  </header>
  {% with settings = settings%}
    {% include "/operator/_settings.html"%}
  {% endwith %}
  {% with %}
  	{% include "/operator/_tables.html" %}
  {% endwith %}
  {% with settings = settings %}
    {% include "/operator/_api.html" %}
    {% include "/operator/_profile.html" %}
  {% endwith %}
  {% include "/operator/_modal-new.html" %}
  {% include "/index/_modal-file.html" %}
  <!-- Page Footer-->
  {% include '/_footer.html'%}
</div>
{% endblock %}