{% extends "/dashboard/base.html" %}
{% block header %}
{{ super() }}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard/style.css') }}">
<script src="{{ url_for('static',filename='js/user.js') }}"></script>
{% endblock %}
{% block main %}
<div class="card-activity card">
	<div class="card-title">
		<h2>Execution Command Line</h2>
	</div>
	<div class="card-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptatibus perspiciatis mollitia qui totam fuga, hic nostrum officia voluptas corrupti ab doloremque facilis ut quis quae dolores reiciendis deleniti! Qui!</p>
	<a href="#" class="btn">See more...</a>
	</div>
</div>
<div class="card-info card">
	<div class="card-title">
		<h2>USER DATA</h2>
	</div>
	<div class="card-body">
		<table class="table">
		  <thead>
		  	<div class="col-xs-4"><input class="btn" type='file'></input></div>
			<div class="col-xs-3"></div>
	  		<div class="input-group col-xs-5">
		      <!-- <input type="text" class="form-control" id="status-filter" placeholder="QUERY... <ls> <filter> <asc>"> -->
		      <select class="form-control selectpicker" id="status-filter">
		      	{% for tag in tags %}
				<option>{{ tag.tag }}</option>
				{% endfor %}
			  </select>
		      <span class="input-group-btn">
		        <button class="btn btn-default" id="status-filter-btn" type="button">Status</button>
		      </span>
		    </div>
		    <tr>
		      <th scope="col">#</th>
		      {% for head in header %}
		      <th scope="col">{{ head }}</th>
		      {% endfor %}
		    </tr>
		  </thead>
		  <tbody id='js-tbody'>
		      {% for user in users %}
		      <tr data-id="{{ user.id }}">
			      <th scope="row">{{ user.id }}</th>
			      <td>{{ user.first_name + " " + user.last_name }}</td>
			      <td>{{ user.state }}</td>
			      <td>{{ user.zipcode }}</td>
			      <td>{{ user.dob }}</td>
			      <td>{{ user.sex }}</td>
			      <td>{{ user.phone }}</td>
		  	  </tr>
		      {% endfor %}
		  </tbody>
		</table>
		<div class="page-control" id="js-page">
			<ul class="pagination">
		    <li class="page-item">
		      <a class="page-link" data-page=1 aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only">First</span>
		      </a>
		    </li>
		    {% for i in range(1,6)%}
		    	{{ page_btn(i) }}
		    {% endfor %}
		  </ul>
		</div>
	</div>	
</div>
{% endblock %}
{% block dialog %}
<div class="modal fade" id="detail" tabindex="-1" role='dialog' aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">User ID: 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form>
      		{{ input_entry('firstname', 'First Name') }}
      		{{ input_entry('lastname', 'Last Name') }}
      		{{ input_entry('phone', 'Phone Number') }}
      		<div class="form-group">
      			<select class="form-control selectpicker" id="tag" disabled='disabled'>
			      	{% for tag in tags %}
					<option>{{ tag.tag }}</option>
					{% endfor %}
				</select>
      		</div>
      		<div class="form-group">
      			<label for='message'>Custom Message</label>
      			<textarea class="form-control" id="message" rows="4"></textarea>
      			<button type='button' class='btn btn-success' id="send-message">Send Message</button>
      		</div>
      		{{ input_entry('last', 'Last Response') }}
      		<div class="form-group">
      			<input class="form-check-input" type="checkbox" value="" id="allow-change-input">
			  <label class="form-check-label" for="allow-change-input">
			    Allow update or delete on this particular data
			  </label>
      		</div>
      		<div id='records'>
      		</div>
      	</form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="user-delete" disabled="disabled">Delete</button>
        <button type="button" class="btn btn-primary" id="user-update" disabled="disabled">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% macro input_entry(name, title) -%}
<div class="form-group">
	<label for='{{ name }}'>{{ title }}</label>
	<input type="text" class="form-control" id="{{ name }}" name='{{ name }}' readonly>
</div>
{%- endmacro %}

{% macro page_btn(number) -%}
<li class="page-item number"><a class="page-link" data-page="{{ number }}">{{ number }}</a></li>
{%- endmacro %}