<!DOCTYPE html>
<html lang="en" >
<head>
  	<meta charset="UTF-8">
  	<title>Twilio Dashboard Design</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard/style.css') }}">
	<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ url_for('static',filename='js/user.js') }}"></script>
</head>
<body>
  <nav>
	<div class="logo">
		<a href="#">
			<span class="fa fa-cloud"></span>
			<span class="title">Service Dashboard</span>
		</a>
	</div>
	<ul class="main-nav">
		<li>
			<a href="/admin"><span class="fa fa-users"></span>Users</a>
		</li>
		<li>
			<a href="/settings"><span class="fa fa-tasks"></span>Settings</a>
		</li>
	</ul>
</nav>
<div class="dashboard">
	<div class="clearfix">
		<h1>Dashboard</h1>
		<div class="main-section">
			<div class="card-activity card">
				<div class="card-title">
					<h2>Execution Command Line</h2>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptatibus perspiciatis mollitia qui totam fuga, hic nostrum officia voluptas corrupti ab doloremque facilis ut quis quae dolores reiciendis deleniti! Qui!</p>
				<a href="#" class="btn">See more...</a>
				</div>
			</div>
			<div class="card-info card">
				<div class="card-title">
					<h2>USER DATA</h2>
					<!-- <input class='form-control' placeholder="phone"/> -->
				</div>
				<div class="card-body">
					<table class="table">
					  <thead>
					  	<div class="col-xs-4"><input class="btn" type='file'></input></div>
						<div class="col-xs-3"></div>
				  		<div class="input-group col-xs-5">
					      <!-- <input type="text" class="form-control" id="status-filter" placeholder="QUERY... <ls> <filter> <asc>"> -->
					      <select class="form-control selectpicker" id="status-filter">
					      	{% for tag in tags %}
							<option>{{ tag.tag }}</option>
							{% endfor %}
						  </select>
					      <span class="input-group-btn">
					        <button class="btn btn-default" id="status-filter-btn" type="button">Status</button>
					      </span>
					    </div>
					    <tr>
					      <th scope="col">#</th>
					      {% for head in header %}
					      <th scope="col">{{ head }}</th>
					      {% endfor %}
					    </tr>
					  </thead>
					  <tbody id='js-tbody'>
					      {% for user in users %}
					      <tr data-id="{{ user.id }}">
						      <th scope="row">{{ user.id }}</th>
						      <td>{{ user.first_name + " " + user.last_name }}</td>
						      <td>{{ user.state }}</td>
						      <td>{{ user.zipcode }}</td>
						      <td>{{ user.dob }}</td>
						      <td>{{ user.sex }}</td>
						      <td>{{ user.phone }}</td>
					  	  </tr>
					      {% endfor %}
					  </tbody>
					</table>
					<div class="page-control" id="js-page">
						<ul class="pagination">
					    <li class="page-item">
					      <a class="page-link" data-page=1 aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					        <span class="sr-only">First</span>
					      </a>
					    </li>
					    <li class="page-item number"><a class="page-link" data-page=1>1</a></li>
					    <li class="page-item number"><a class="page-link" data-page=2>2</a></li>
					    <li class="page-item number"><a class="page-link" data-page=3>3</a></li>
					    <li class="page-item number"><a class="page-link" data-page=4>4</a></li>
					    <li class="page-item number"><a class="page-link" data-page=5>5</a></li>
					  </ul>
					</div>
				</div>	
			</div>
		</div>
		</div>
		<div class="modal fade" id="detail" tabindex="-1" role='dialog' aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modalLabel">User ID: 1</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<form>
		      		<div class="form-group">
		      			<label for='username'>Username</label>
		      			<input type="text" class="form-control" id="username" name='username' placeholder="Michael Liu" readonly>
		      		</div>
		      		<div class="form-group">
		      			<label for='phone'>Phone Number</label>
		      			<input type="text" class="form-control" id="phone" name='phone' placeholder='18181818282' readonly>
		      		</div>
		      		<div class="form-group">
		      			<label for='tag'>Current Tag</label>
		      			<input type="text" class="form-control" id="tag" name='tag' placeholder="null" readonly>
		      		</div>
		      		<div class="form-group">
		      			<label for='message'>Custom Message</label>
		      			<textarea class="form-control" id="message" rows="4"></textarea>
		      			<button type='button' class='btn btn-success' id="send-message">Send Message</button>
		      		</div>
		      		<!-- <div class="form-group">
		      			<label for='state'>State</label>
		      			<input type="text" class="form-control" id="state" name='state' placeholder="IL">
		      		</div>
		      		<div class="form-group">
		      			<label for='zipcode'>Zip</label>
		      			<input type="text" class="form-control" id="zipcode" name='zipcode' placeholder="60187">
		      		</div> -->
		      		<div class="form-group">
		      			<label for='last'>Last Response</label>
		      			<input type="text" class="form-control" id="last" name='last' placeholder="last response" readonly>
		      		</div>
		      		<div id='records'>
		      		</div>
		      	</form>  
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
		        <button type="button" class="btn btn-primary" id="user-update">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
</body>
</html>
